# https://github.com/hashicorp/terraform-provider-google/issues/12774
# export GOOGLE_OAUTH_ACCESS_TOKEN="$(gcloud auth print-access-token)"
provider "google" {
  project = "..."
}

provider "cloudflare" {
  api_token = "..."
}

provider "openstack" {
  auth_url = "https://invalid.invalid/"
}
