terraform {
  required_providers {
    google = {
      source  = "hashicorp/google"
      version = ">= 6.34.0"
    }
    cloudflare = {
      source  = "hashicorp/cloudflare"
      version = ">= 5.4.0"
    }
  }
}
